@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.mx-auto {
  margin: 0 auto;
}

/* background image */

.bg-overlay {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 0.75;
    z-index: -1;
  }
}

/* btn */
.btn {
  display: inline-block;
  color: $white;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  &.btn-primary {
    background-color: $primary_color;
    &:hover {
      background-color: $btn_hover;
    }
  }
  &.btn-primary-border {
    border: 2px solid $primary_color;
    padding: 8px 30px;
    &:hover {
      background-color: $primary_color;
    }
  }
  &.btn-danger {
    background-color: $btn_danger_bg;
  }
}

/* margin & padding */

@for $i from 1 through 21 {
  .mt-#{$i * 5} {
    margin-top: $i * 5px;
  }
  .mb-#{$i * 5} {
    margin-bottom: $i * 5px;
  }
  .ml-#{$i * 5} {
    margin-left: $i * 5px;
  }
  .mr-#{$i * 5} {
    margin-right: $i * 5px;
  }

  .pt-#{$i * 5} {
    padding-top: $i * 5px;
  }
  .pb-#{$i * 5} {
    padding-bottom: $i * 5px;
  }
  .pl-#{$i * 5} {
    padding-left: $i * 5px;
  }
  .pr-#{$i * 5} {
    padding-right: $i * 5px;
  }
}

/* flex */

$flex: flex, inline-flex;
@each $i in $flex {
  .d-#{$i} {
    display: $i;
  }
}

/* justify content */

$justify_content: (
  start: start,
  center: center,
  end: end,
  around: space-around,
  between: space-between,
  evenly: space-evenly,
);

@each $i, $j in $justify_content {
  .justify-content-#{$i} {
    justify-content: $j;
  }
}

/* align items */

$align_items: start, center, end, baseline, stretch;

@each $i in $align_items {
  .align-items-#{$i} {
    align-items: $i;
  }
}

/* text align */

$align: left, right, center, justify;
@each $i in $align {
  .text-#{$i} {
    text-align: $i;
  }
}

/* section title */
.section-title {
  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background: $primary_color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ff3636;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
