// common color
$white: #fff;
$black: #000;

// theme color
$primary_color: #ff3636;
$linked_color: #333;
$btn_hover: #333;
$btn_danger_bg: red;
$border_color: #eee;
$footer_border: #777;
$bg_dark: #0f1113;
$bg_light: #f6f6f6;
