/* cta area start */
.cta-area {
  .cta-btn {
    a {
      i {
        color: $white;
        font-size: 62px;
      }
    }
  }
  h3 {
    font-size: 36px;
    color: $white;
    line-height: 1.6;
    margin-top: 15px;
  }
  p {
    color: $white;
  }
}
/* cta area end */
