/* timeline area start */
.timeline-area {
  .timeline-list {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background: $primary_color;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    li {
      position: relative;
      clear: both;
      overflow: hidden;
      &:nth-child(even) {
        .timeline-content {
          float: right;
          text-align: left;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: $primary_color;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .timeline-content {
        border: 2px solid $primary_color;
        padding: 20px;
        width: 47%;
        text-align: right;
        span {
          color: $primary_color;
          font-weight: 700;
        }
        h2 {
          text-transform: capitalize;
          margin: 10px 0 15px;
        }
        p {
          line-height: 1.6;
        }
      }
    }
  }
}
/* timeline area end */
